body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 253, 220);
    position: relative;
    
}

.top-nav{
    position: sticky;
    background-color: green;
    width: 100vw;
    height: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
}

.top-nav>h3{
    font-size: 1.15rem;
    width: 25%;
}
.top-nav>p{
    font-size: 0.8rem;
    width: 35%;
}

.top-nav>img{
    width: 10rem;
    margin: 0 !important;
}

.input-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/international-backgr.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.579);
    background-size: cover;
    background-position: 50%,15%;
    padding: 2rem;
}

button{
    background-color: rgb(150, 45, 255);
    color: white;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 4.5rem;
    height: 2.2rem;
}

.about-div{
    background-color: rgb(219, 255, 219) !important; 
    width: 100vw;
    height: fit-content;
}

button:hover{
    background-color: rgb(156, 97, 216);
}
input[type='text']:focus{
    border-style: none;
    border-radius: 0.2rem;
    outline: 2px solid rebeccapurple;
}

input[type='text']{
    width: 19rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: rebeccapurple;
    text-transform: uppercase;
}

input[type='text']::placeholder{
    color: rebeccapurple;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

h5{
    background-color: green;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.15rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 3rem;
    border-radius: 0.2rem;
}

img{
    width: 50vw;
    margin-bottom: 4rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#country-name{
    color: rgb(12, 58, 0);
    font-size: 4rem;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -2rem;
}

#official{
    font-size: 2rem;
    margin: 0;
    width: max-content;
    margin-top: 2rem;
    
}
#continent{
    color: rgb(199, 148, 18);
}

.more-about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: blue;
}

.map-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
    width: 100vw;
    height: 29rem;
    margin-top: 4rem;

}

.map-div>img{
    position: relative;
    margin: 0 !important;
}

.map-div>h3{
    position: absolute;
    color: green;
    font-size: 2.5rem;
    margin-top: -1rem;
}

.map-div>a{
    position: absolute;
    padding: 0.5rem;
    color: white;
    background-color: green;
    margin-top: 5rem;
}
#map{
    text-decoration: none;
    font-size: 0.85rem;
    border-radius: 0.2rem;
}
map:hover{
    text-decoration: underline;
}

.map-div>a:hover{
    cursor: pointer;
    background-color: rgb(24, 184, 24);
    text-decoration: underline;
}



@media (max-width:1000px) {
    .top-nav>img{
        width: 7rem;
    }
    .top-nav>h3{
        font-size: 0.68rem;
        width: 20%;
        text-align: center;
        line-height: 0.8rem;
    }
    .top-nav>p{
        font-size: 0.7rem;
        width: 35%;
    }

    #country-input{
        width: 40vw;
    }
    .about-div>h5{
        padding: 0 0.8rem;
        font-size: 1.1rem;
    }

    #country-name{
        font-size: 2.8rem;
        text-align: center;
        margin-top: 0.5rem;
    }
    #official{
        font-size: 1.7rem;
        text-align: center;
    }
    #continent{
        color: rgb(199, 148, 18);
    }
    .flag-div>h5{
        padding: 0 0.8rem;
        font-size: 1.1rem;
    }
    .c-o-arm>h5{
        padding: 0 0.8rem;
        font-size: 1.1rem;
    }

    .map-div>img{
        width: 75vw;
    }
    .map-div>h3{
        font-size: 1.5rem;
        text-align: center;
    }
    #map{
        text-decoration: none;
        font-size: 0.85rem;
    }
}

@media (max-width:580px) {
    .top-nav>img{
        width: 7rem;
    }
    .top-nav>h3{
        font-size: 0.56rem;
        width: 20%;
        text-align: center;
        line-height: 0.8rem;
    }
    .top-nav>p{
        font-size: 0.7rem;
        width: 35%;
    }

    #country-input{
        width: 40vw;
    }
    .about-div>h5{
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }

    #country-name{
        font-size: 2.8rem;
        text-align: center;
        margin-top: 0.5rem;
    }
    #official{
        font-size: 1.7rem;
        text-align: center;
    }
    #continent{
        color: rgb(199, 148, 18);
    }
    .flag-div>h5{
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }
    .c-o-arm>h5{
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }

    .map-div>img{
        width: 75vw;
    }
    .map-div>h3{
        font-size: 1.5rem;
        text-align: center;
    }
    #map{
        text-decoration: none;
        font-size: 0.85rem;
    }
}
@media (max-width:418px) {
    .top-nav>img{
        width: 7rem;
    }
    .top-nav>h3{
        font-size: 0.5rem;
        width: 20%;
        text-align: center;
        line-height: 0.8rem;
    }
    .top-nav>p{
        font-size: 0.6rem;
        width: 35%;
    }

    #country-input{
        width: 40vw;
    }
    .about-div>h5{
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }

    #country-name{
        font-size: 2.8rem;
        text-align: center;
        margin-top: 0.5rem;
    }
    #official{
        font-size: 1.7rem;
        text-align: center;
    }
    #continent{
        color: rgb(199, 148, 18);
    }
    .flag-div>h5{
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }
    .c-o-arm>h5{
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }

    .map-div>img{
        width: 75vw;
    }
    .map-div>h3{
        font-size: 1.5rem;
        text-align: center;
    }
    #map{
        text-decoration: none;
        font-size: 0.85rem;
    }
}